block body_content
  #page-index(data-role="page")
    div(data-role="header")
      h1 jQuery Mobile template for Roots
    div(data-role="content")
      p This template is for <a href="http://roots.cx">Roots</a> based on <a href="http://jquerymobile.com/">jQuery Mobile</a>.
    div(data-role="footer")
      h4 Copyright (C) 2013